.person {
    padding: 100px 0px 140px;
    // 100 140

    .container {


        .person-title {
            color: #242424;
            text-transform: uppercase;
            font-family: $fontMontserrat;
            margin-bottom: 96px;
            // 96
            font-size: 40px;
            // 45
            font-weight: 600;
            text-align: center;
            line-height: 55px;
            // 55
        }

        .person-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;

            .person-text {
                margin-right: 20px;

                h4 {
                    font-size: 33px;
                    // 36
                    line-height: 47px;
                    // 50
                    font-family: $fontMontserrat;
                    font-weight: 700;
                    margin-bottom: 40px;
                    // 80
                    .color-sub {
                        color: #2B99BB;
                    }
                    .weight-sub {
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }

                .person-list {
                    font-family: $fontLato;
                    font-size: 28px;
                    // 28
                    line-height: 36px;
                    // 36\
                    font-weight: 300;

                    .person-item {
                        position: relative;
                        padding-left: 36px;
                        font-size: 25px;
                        line-height: 35px;

                        &:nth-of-type(1)::before {
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &:nth-of-type(2)::before {
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &:nth-of-type(4)::before {
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &:nth-of-type(3)::before {
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &:not(:last-child) {
                            margin-bottom: 30px;
                            // 30
                        }

                        &::before {
                            content: '';
                            width: 16px;
                            height: 16px;
                            background-color: #2B99BB;
                            border-radius: 50%;
                            position: absolute;
                            left: 0px;
                        }
                    }
                }
            }

            .person-photo {
                max-width: 450px;
                width: 100%;
                margin-bottom: 0px;
            }
        }
    }
}