.why {
    font-family: $fontMontserrat;
    padding-bottom: 100px;

    .container {

        .why-title {
            color: #242424;
            text-transform: uppercase;
            font-family: $fontMontserrat;
            margin-bottom: 100px;
            // 100
            font-size: 45px;
            // 45
            font-weight: 600;
            text-align: center;
            line-height: 55px;
            // 55
            .color-sub {
                color: #2B99BB;
            }
        }

        .why-list {

            max-width: 1080px;
            margin: 0 auto;


            .why-item {
                padding: 50px 40px;
                // padding: 25px 20px;
                border: 5px solid;
                box-shadow: 7px 8px 23px rgba(0, 0, 0, 0.1);
                background: #F2F2F2;
                // border-image: linear-gradient(to right, #2B99BB, #2B99BB00) 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                &:nth-of-type(1) {
                    border-image: linear-gradient(to right, #2B99BB, #2B99BB00) 1;
                    flex-direction: row;
                    .why-wrap {
                        margin-right: 10px;
                    }
                }

                &:nth-of-type(2) {
                    border-image: linear-gradient(to left, #2B99BB, #2B99BB00) 1;
                    flex-direction: row-reverse;
                    .why-wrap {
                        margin-left: 10px;
                    }
                }

                &:nth-of-type(3) {
                    border-image: linear-gradient(to right, #2B99BB, #2B99BB00) 1;
                    flex-direction: row;
                    .why-wrap {
                        margin-right: 10px;
                    }
                }

                &:nth-of-type(4) {
                    border-image: linear-gradient(to left, #2B99BB, #2B99BB00) 1;
                    flex-direction: row-reverse;
                    .why-wrap {
                        margin-left: 10px;
                    }
                }

                &:nth-of-type(5) {
                    border-image: linear-gradient(to right, #2B99BB, #2B99BB00) 1;
                    flex-direction: row;
                    .why-wrap {
                        margin-right: 10px;
                    }
                }

                &:nth-of-type(6) {
                    border-image: linear-gradient(to left, #2B99BB, #2B99BB00) 1;
                    flex-direction: row-reverse;
                    .why-wrap {
                        margin-left: 10px;
                    }
                }

                .why-wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 290px;
                    

                    .why-subtitle {
                        text-transform: uppercase;
                        color: #2B99BB;
                        font-weight: 600;
                        margin-bottom: 15px;
                        font-size: 20px;
                        // 28px
                    }

                    .number {
                        font-weight: 500;
                        color: #2B99BB;
                        font-size: 160px;
                    }
                }

                .why-text {
                    font-size: 17px;
                    line-height: 32px;
                    text-align: left;
                    max-width: 750px;
                }
            }
        }
    }
}